* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-size: cover;    
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    transition: 5s;
    background-position: center;

    animation-name: change;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation-duration: 200s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes change{
    0%
    {
        background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }
    5%
    {
        background-image: url('https://images.pexels.com/photos/1529360/pexels-photo-1529360.jpeg');
    }
    10%
    {
        background-image: url('https://images.pexels.com/photos/273886/pexels-photo-273886.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }
    15%
    {
        background-image: url('https://images.pexels.com/photos/458983/pexels-photo-458983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }
    20%{background-image: url('https://images.pexels.com/photos/2929227/pexels-photo-2929227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    25%{background-image: url('https://images.pexels.com/photos/624015/pexels-photo-624015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    30%{background-image: url('https://images.pexels.com/photos/547125/pexels-photo-547125.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    35%{background-image: url('https://images.pexels.com/photos/1302991/pexels-photo-1302991.jpeg');}
    40%{background-image: url('https://images.pexels.com/photos/1366901/pexels-photo-1366901.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    45%{background-image: url('https://images.pexels.com/photos/53435/tree-oak-landscape-view-53435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    50%{background-image: url('https://images.pexels.com/photos/38326/pexels-photo-38326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    55%{background-image: url('https://images.pexels.com/photos/213172/pexels-photo-213172.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    60%{background-image: url('https://images.pexels.com/photos/1165981/pexels-photo-1165981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    65%{background-image: url('https://images.pexels.com/photos/220755/pexels-photo-220755.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    70%{background-image: url('https://images.pexels.com/photos/161950/skogafoss-waterfall-dinamet7-water-161950.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    75%{background-image: url('https://images.pexels.com/photos/927414/pexels-photo-927414.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    80%{background-image: url('https://images.pexels.com/photos/722024/pexels-photo-722024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    85%{background-image: url('https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    90%{background-image: url('https://images.pexels.com/photos/209982/pexels-photo-209982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    95%{background-image: url('https://images.pexels.com/photos/3274903/pexels-photo-3274903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
    100%{background-image: url('https://images.pexels.com/photos/347145/pexels-photo-347145.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');}
        
}


@media screen and (min-width: 577px) {
    .card{
        margin: 20px auto 20px;    
        width: 470px;
    }
    .search button{
        width: 60px;
        height: 60px;
    }
    .humidity, .wind{
        font-size: 28px;
        margin-top: -6px;
    }
    
    .col img{
        width: 40px;
        margin-right: 10px;
    }
}
    
  
@media screen and (max-width: 576px) {
    .card{
        margin: 50px auto 20px;
        width: 350px;
    }
    .search button{
        width: 50px;
        height: 50px;
    }
    .search input{
        width: 70%;
    }
    .humidity, .wind{
        font-size: 24px;
        margin-top: -6px;
    }
    .col img{
        width: 25px;
        margin-right: 10px;
    }


}



.card{
    background: linear-gradient(135deg, rgb(167, 223, 255), #6358ff);
    color: black;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;

}


.weather{
    display: none;
}

.error{
    color: rgb(124, 0, 0);
    font-weight: 600;
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    display: none;
}